doctype html

html(lang="en")
head
	title  Slack History
	script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js") //CDN for Jquery
	script(src="main.js")
body
	h2 This is the page for teacher/tutor to view the history of channel.
	- for (var x = 0; x < number ; x++)	
		li user: #{history[x]['user']}
		li text: #{history[x]['text']}
		br

