doctype html

html(lang="en")
head
	title  Slack Sign In
	script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js") //CDN for Jquery
	script(src="main.js")
body
	h2 This is the page for teacher/tutor to sign in with slack.
	input(type='image' id='sign_in' src="https://platform.slack-edge.com/img/sign_in_with_slack.png" width:170px;height:40px)
