doctype html

html(lang="en")
head
	title  Slack Channels
	script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js") //CDN for Jquery
	script(src="main.js")
body
	h2 This is the page for teacher/tutor to select the channels.
	- for (var x = 0; x < number ; x++)
		- url = 'http://localhost:3000/channel?id=' + channels[x]['id']
		a(href=url) #{channels[x]['name']}
		br
